html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.topbar {
  background-color: #272c4c;
  padding: 10px 0;
}

.topbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.topbar__link {
  color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
}

.topbar__link::before {
  content: "";
  display: block;
  font-family: 'FontAwesome';
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.topbar__link.location::before {
  content: "\f3c5";
}

.topbar__link.mail::before {
  content: "\f0e0";
}

.topbar__link.phone::before {
  content: "\f879";
}

.header {
  background-color: #f4f4f4;
  position: sticky;
  top: -1px;
  z-index: 2;
}

.header__wrapper {
  padding: 10px 0;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  color: #555;
}

.logo-color {
  color: #ffba00;
  font-weight: 600;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.menu__link {
  /* padding: 6px 20px 6px 6px; */
  padding: 15px 20px 15px;
  color: #555;
  font-size: 16px;
  text-transform: uppercase;
  transition: all .3s ease;
  display: flex;
  position: relative;
}

.menu__link-toggle {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
}

.menu__link-toggle::before {
  position: absolute;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 14px;
  color: #555;
  left: calc(50% - 7px);
  top: calc(50% - 7px);
  height: 14px;
  width: 14px;
  text-align: center;
}

.menu-btn {
  display: none;
}

.submenu {
  display: none;
  padding: 0 20px;
  list-style: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 59px;
  left: 0;
  right: 0;
  z-index: 30;
}

.submenu__link {
  padding: 10px 0;
}

.menu__item.focus .submenu {
  display: block;
}

/* INTRO SECTION */
.intro__title {
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 54px;
  margin-bottom: 20px;
}

.intro__swiper {
  height: auto;
}

.intro__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__text {
  padding-right: 40px;
  transition: all .3s ease-out;
}

/* SLIDER STYLES */
.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 124.5px);
}

.swiper-slide__caption {
  padding: 40px 20px;
  width: 100%;
}

.intro__swiper.swiper-container-horizontal > .swiper-pagination {
  width: auto;
  top: 50%;
  right: 50px;
  left: auto;
  bottom: auto;
  transform: translateY(-50%);
}

.intro__swiper.swiper-container-horizontal > .swiper-pagination ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.intro__swiper .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 6px;
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
  color: #555;
  background: transparent;
  display: inline-block;
  margin-bottom: 10px;
  opacity: 1;
  cursor: pointer;
}

.intro__swiper .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50vw;
  border-bottom: 1px solid transparent;
  pointer-events: none;
  transition: all .3s ease-out;
}

.intro__swiper .swiper-pagination .swiper-pagination-bullet.active {
  color: #f45;
}

.intro__swiper .swiper-pagination .swiper-pagination-bullet.active::before {
  border-bottom: 2px solid #f45;
}

.not-animated {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
  .burger {
    position: fixed;
    top: 11px;
    right: 20px;
    z-index: 30;
  }
  .menu-btn {
    display: block;
    border: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    transition: all .3s ease-in;
  }
  .menu-btn span,
  .menu-btn::before,
  .menu-btn::after {
    display: block;
    position: absolute;
    background-color: #555;
    height: 5px;
    width: 100%;
    transition: all .3s ease-in;
  }
  .menu-btn::before,
  .menu-btn::after {
    content: "";
  }
  .menu-btn::before {
    top: 0;
  }
  .menu-btn::after {
    bottom: 0;
  }
  .menu-btn span {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-btn.open-menu span {
    opacity: 0;
    transition: all .3s ease-in;
  }
  .menu-btn.open-menu::before {
    transform: rotate(45deg);
    top: 12px;
    height: 3px;
  }
  .menu-btn.open-menu::after {
    transform: rotate(-45deg);
    bottom: 15px;
    height: 3px;
  }
  .menu-list {
    display: block;
    position: fixed;
    z-index: 20;
    right: -100%;
    top: 50px;
    background: #f5f6f6;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    transition: all 0.4s ease;
  }
  .menu-list.open-menu-list {
    right: 0;
  }
  .menu__link {
    padding: 13px 40px 13px 15px;
  }
  .menu__item {
    margin: 0;
  }
  .menu__item:hover:hover {
    background-color: #ffba00;
  }
  .menu__link-toggle {
    height: 40px;
    width: 40px;
  }
  .submenu {
    position: static;
  }
}
/*# sourceMappingURL=style.css.map */